body {
	 background: #eee;
}
 .wrapper {
	 width: 300px;
	 height: 300px;
	 position: relative;
	 margin: auto;
	 border-radius: 50%;
}

 .pumpkin div {
	 list-style-type: none;
	 position: absolute;
	 bottom: 0px;
	 left: 0;
	 right: 0;
	 margin: auto;
	 width: 150px;
	 height: 150px;
	 background: rgb(227, 144, 60);
	 border-radius: 50%;
	 box-shadow: 
     inset 0px -8px rgb(196, 107, 43), 
     inset 0px 5px rgb(196, 107, 43);
}

 .pumpkin div:nth-child(1) {
	 left: 0;
	 bottom: 5px;
}

 .pumpkin div:nth-child(2) {
	 left: -50px;
	 box-shadow: 
     inset 5px -8px rgb(196, 107, 43), 
     inset 0px 5px rgb(196, 107, 43);
}

 .pumpkin div:nth-child(3) {
	 left: 50px;
	 box-shadow: 
     inset -5px -8px rgb(196, 107, 43), 
     inset 0px 5px rgb(196, 107, 43);
}

.pumpkin div:nth-child(4) {
	 left: 0px;
	 bottom: -2px;
	 width: 120px;
}

.eye {
  position: absolute;
  bottom: 80px;
  width: 35px;
  height: 30px;
  background: rgb(240, 233, 79);
}

.eye.left {
  left: 100px;
  border-radius: 10% 95% / 50% 50%;
  box-shadow: inset -5px -2px rgb(221, 173, 62);
}

.eye.right {
  right: 100px;
  border-radius: 95% 10% / 50% 50%;
  box-shadow: inset 5px -2px rgb(221, 173, 62);
}

 .nose {
	 position: absolute;
	 bottom: 65px;
	 left: 135px;
	 border-left: 15px solid transparent;
	 border-right: 15px solid transparent;
	 border-bottom: 14px solid rgb(240, 233, 79);
	 box-shadow: 0 2px 0 rgb(221, 173, 62);
}

.mouth {
	 position: absolute;
	 bottom: 30px;
	 left: 110px;
	 width: 80px;
	 height: 35px;
	 border-radius: 50%;
	 box-shadow: 
     inset 0px -20px rgb(240, 233, 79), 
     inset 0px -20px rgb(240, 233, 79);
}

.mouth div:first-child {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 18px;
	top: 13px;
	transform: rotate(10deg);
  background-color: rgb(227, 144, 60);
  box-shadow: inset 3px 0 4px rgb(196, 107, 43);
}

.mouth div:last-child {
  position: absolute;
  width: 12px;
  height: 10px;
  left: 50px;
	top: 24px;
	transform: rotate(-10deg);
  background-color: rgb(227, 144, 60);
  box-shadow: inset 3px 0 4px rgb(196, 107, 43);
}

.stem {
  position: absolute;
  top: 135px;
  left: 140px;
  width: 18px;
	height: 22px;
  background-color: rgb(98, 128, 40);
  border-radius: 
    79% 10% 79% 10% / 100% 100%;
	 box-shadow: inset 5px 0 rgb(92, 103, 34);
}
